<!DOCTYPE HTML>
<html lang=en>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <title>cybNIC</title>
<style>
* {
 margin: 0;
}
body, a {
  background-color: black;
  font-family: monospace;
  color: white;
  font-size: 14px;
  line-height: 1.6em;
}
p {
  margin-bottom: 0.8em;
}
.body {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

a.bracketButton {
  text-decoration: none;
}
a.bracketButton:hover {
  text-decoration: underline;
}

form.login>table>tbody>tr>td>label {
  margin-right: 10px;
}

.msgBox {
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
}
</style>
  </head>
  <body>
    <% content %>
  </body>
</html>
