Hello!

You're receiving this email because someone used your email address to sign up for cybNIC.

If this was you and you'd like to confirm your account, please click this link:
<% link %>

Otherwise, feel free to ignore this email - we won't send any more.
