Hello!

You're receiving this email because someone entered your email address into cybNIC.

If this was you and you'd like to use this address, please click this link:
<% link %>

Otherwise, feel free to ignore this email.
