* {
	margin: 0;
}
body, a {
	background-color: black;
	font-family: monospace;
	color: white;
	font-size: 14px;
	line-height: 1.6em;
}
p {
	margin-bottom: 0.8em;
}
.body {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.toolbar {
	border: 1px solid white;
}

a.bracketButton {
	text-decoration: none;
}
a.bracketButton:hover {
	text-decoration: underline;
}
button.textButton {
	background: none !important;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
}
button.textButton:hover {
	text-decoration: underline;
}

a.menuBtn {
	text-decoration: none;
}
button.menuBtn {
	background: none !important;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
}
.menuBtn {
	text-transform: lowercase;
}
.menuBtn:hover {
	text-decoration: underline;
}
.menuBtnW:before {
	content: "[\00a0";
}
.menuBtnW:after {
	content: "\00a0] ";
}
div.toolbar form {
	display: inline;
}

form.login>table>tbody>tr>td>label {
	margin-right: 10px;
}
table.domains {
	width: 100%;
}
table.domains td:first-child {
	width: 50%;
}

.msgBox {
	border: 1px solid white;
	display: inline-block;
	padding: 10px;
}
